/**//**//**//**//*GENERAL*//**//**//**//**//**//**//**//**//*GENERAL*//**//**//**//**/

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: white; 
}

a{
    text-decoration: none !important;
}

/**//**//**//**//*HEADER*//**//**//**//**//**//**//**//**//*HEADER*//**//**//**//**/


header{
    margin: auto;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
}


header img{
    width: 180px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    width: 610px;
    justify-content: space-between;
    
}

nav li{
    list-style: none;
}



nav li a{
    color: #182f47 !important;
    font-weight: bold;
    padding: 10px;
}

nav li a:hover{
    border-bottom: 7px solid #182f47;
    transition: all 100ms;
}


/**//**//**//**//*MAIN*//**//**//**//**//**//**//**//**//*MAIN*//**//**//**//**/


#main-content{
    padding: 0px !important;
    padding-bottom: 55px !important;
}

article{
    display: flex;
    justify-content: center;

}

.main-img{
    width: 400px;
    display: flex;
    justify-content:right;
}

.img-fluid{
    max-width: 100%; 
    height: auto;
} 

#gallery{
    margin: auto;
    width: 860px;
}
  

/**//**//**//**//*WRITTING EFFECT*//**//**//**//**//**//**//**//**//*WRITTING EFFECT*//**//**//**//**/

.contenedor { 
    margin: 5px auto;
    display: table;
    position: relative; 
    float: left;
    background: rgb(196, 195, 195);
    color: white !important;
    font-size: 50px;
    border-radius: 5px;
  }
  
  .contenedor span {
      position:absolute;
      right:0;
      width:0;
      background: rgb(196, 195, 195);
      border-left: 1px solid #000;
      animation: escribir 5s steps(20) infinite alternate;
  }
  
  @keyframes escribir {
      from { width: 75% }
      to { width: 15% }
  }

  
  p{
      margin: 10px;
  }

  #phrase{
      margin-top: 0px;
      padding: 0px !important;
  }

  .display-4 {
      margin: auto;
      margin-bottom: 5px;
  }

  h1{
    letter-spacing: 8px;
    font-size: 47px !important;
  }


  h1, h2{
      color: #182f47;
  }

.btn{
    margin-top: 10px;
}


/**//**//**//**//*OWNERS*//**//**//**//**//**//**//**//**//*OWNERS*//**//**//**//**/

#owners .col-lg-4 {
    margin-bottom: 10px;
    text-align: center;
  }

#owners h2 {
    font-weight: 400;
    color: #182f47;
  }

#owners .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
    color: #182f47;
  }
  
.owner-phrase{
    font-style: italic;
}

.row{
    margin: 100px;
    margin-bottom: 150px;
    margin-left: 190px;
    margin-right: 190px;
}



/**//**//**//**//*FOOTER*//**//**//**//**//**//**//**//**//*FOOTER*//**//**//**//**/

.footer-content{
    display: flex;
    background-color: #F8F9FA;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content, .adress, .map , .followus{
    margin-left: 30px ;
    margin-right: 30px;
    color: #182f47;

}

footer p{
    margin: 0px;

}

.social{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social a i{
    font-size: xx-large;
}

h5{
    font-weight: bold;
}


.copy{
    background-color: rgb(196, 195, 195);
    text-align: center;
    padding: 10px;
    color: grey;
    font-size: medium;
}

.copy p{
    font-weight: bold;
}

